<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Winschoolexport.Properties.Settings.wsdata_wsdataConnectionString"
            connectionString="Data Source=virti;Initial Catalog=wsdata_wsdata;Persist Security Info=True;User ID=sa;Password=oszimt"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>